<div class="container">
  <div class="row" id="appSummary">
    <div class="col text-center">
      <h1>¡Bienvenido!</h1>
      <p class="lead">Usa el menu para navegar dentro de la aplicación</p>
    </div>
  </div>
</div>